/* ---Global Styling Start--- */
body {
  /* Typography */
  background-image: url("pictures/smoke.png");
  background-size: cover;
  /* height: 500px; */
  background-position: center;
  background-repeat: repeat;
  /* Visual */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

.info-box {
  /* size */
  padding: 1rem;

  /* Typography */
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  /* Visual */
  background: #5d26c1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #5d26c1,
    #a17fe0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #5d26c1,
    #a17fe0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h5{
  color: #5d26c1;
}

P {
  color: black;
  font-size: 1rem;
}

h6 {
  color: #fff;
  font-size: 1.25rem;
}

a {
  color: #fff;
}

.bold {
  font-weight: bold;
}

.align-left {
  text-align: left;
}

.block-header {
  background-color: #321869;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #043a37;
  text-align: center;
}

/* ---Card Styling Start--- */

.card-img-top {
  position: relative;
  overflow: hidden;
}

.card-img-top img {
  transition: transform 0.2s; /* Animation */
}

.card-img-top img:hover {
  transform: scale(1.25);
}

.card-img-top .card-img-banner {
  position: absolute;
  bottom: 20%;
  width: 100%;
  background-color: #a17fe0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

