body {
    /* Typography */
    font-family: 'Lora', serif;
  
    /* Visual */
    background-image: url(../assets/pictures/full-bloom.png)
  }
  
html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
  }

.tag {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px;
    font-size: medium;
}

.block {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border: 1px;
  font-size: large;
}

.block-header {
  /* Typography */
  color: #1b1c35;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  border-bottom: 1px solid #043a37;;
  text-align: center;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #bd5d38;
}