/* ---Global Styling Start--- */
body {
  /* Typography */
  font-family: "Lora", serif;
  color: #210555;
  background-image: url("pictures/smoke.png");
  background-size: cover;
  height: 500px;
  background-position: center;
  background-repeat: repeat; 
  /* Visual */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info-box{
  /* size */
  padding: 1rem;
  
  /* Typography */
   font-family: "Lora", serif;
   color: #fff;
   /* Visual */
   background: #5d26c1; /* fallback for old browsers */
   background: -webkit-linear-gradient(
     to left,
     #5d26c1,
     #a17fe0
   ); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
     to left,
     #5d26c1,
     #a17fe0
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h5 {
  color: #5d26c1;
}

P {
  color: black;
}

h6 {
  color: #fff;
  font-size: 1.25rem;
}
html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

#image-thumbnail {
  margin: 0.5rem;
}

.bold {
  font-weight: bold;
}

.align-left{
  text-align: left;
}

/* ---Text Blocks Start--- */
/* saving for making blocks of text white background with black font
.block {
  background-color: #fff;
  color: black;
  padding: 30px;
  margin-bottom: 30px;
  border: 1px;
  font-size: large;
} */

.block-header {
  background-color: #321869;
  color: #fff;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  border-bottom: 1px solid #043a37;
  text-align: center;
}

/* ---Card Styling Start--- */

#card-styling {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
  overflow: hidden;
}

#card-styling:hover {
  transform: scale(1.1);
}


